# Visual Studio Code folder without the settings files
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json

# Visual Studio folder and user settings
.vs/
*.user

# Binary files
bin*/
build*/

# Data sets, since they are too big
volume/*
!volume/carp.dat
!volume/foot.dat